{% extends 'index.html' %}
{% load static %}
{% block titulo %}
Listar autores  {{object}}
{% endblock titulo %}
{% block body %}

<link rel="stylesheet" href="{% static 'css/tablastyle.css' %}">
<div style="text-align:center;">

    <button class="btn" type="button" id="buttons1" onclick="abrirmodal_crear('{% url 'usuario:crear_producto' %}')">Crear producto</button>
</div>

{% if productos %}

<div id="divtamano">
<table class="table table-sm" id="tabla">
    <thead id="tamamo">
        <tr>
            <th id="tamamo">ID</th>
            <th id="tamamo">Nombres</th>
            <th id="tamamo">Caracteristicas</th>
            <th id="tamamo">Cantidad</th>
            <th id="tamamo">Precio</th>
            <th id="tamamo">Impuestos</th>
            <th id="tamamo">Descuento</th>
            <th id="tamamo">Ubicación</th>
            <th id="tamamo">Disponible</th>
            <th id="tamamo">Sucursal</th>
            <th id="tamamo">Categoria</th>
            <th id="tamamo">Opiciones</th>
            
        </tr>
    </thead>
    <tbody id="tamimo">
        {% for producto in productos %}
        <tr>
            <td id="tamimo">{{producto.idProducto}}</td>
            <td id="tamimo">{{producto.nombre}}</td>
            <td id="tamimo">{{producto.caracteristicas}}</td>
            <td id="tamimo">{{producto.cantidad}}</td>
            <td id="tamimo">{{producto.precio}}</td>
            <td id="tamimo">{{producto.impuestos}}</td>
            <td id="tamimo">{{producto.descuentoPorc}}</td>
            <td id="tamimo">{{producto.ubicacionTienda}}</td>
            <td id="tamimo">{{producto.disponible}}</td>
            <td id="tamimo">{{producto.sucursal}}</td>
            <td id="tamimo">{{producto.categoria}}</td>
            <td id="buttons">
                
                 <button id="buttons1" onclick="abrirmodal('{% url 'usuario:editar_producto' producto.idProducto %}')">Editar</button>
                 <button id="buttons1" onclick="abrirmodal_eliminar('{% url 'usuario:eliminar_producto' producto.idProducto %}')">Eliminar</button>
                
                
            </td>
            
        </tr>
         

        {% endfor %}
    </tbody>
</table>
</div>
<div class="modal fade" id="creacion" role="dialog">

</div>
<div class="modal fade" id="edicion" role="dialog">

</div>
<div class="modal fade" id="eliminacion" role="dialog">

</div>




{% endif %}

{% endblock body %}
{% block extrajs %}  

<script type="text/javascript">
function abrirmodal(url){
  $('#edicion').load(url,function(){
    $(this).modal('show');
  });
 
  }

function abrirmodal_crear(url){
  $('#creacion').load(url,function(){
    $(this).modal('show');
  });
 
  } 
  
function abrirmodal_eliminar(url){
    $('#eliminacion').load(url,function(){
    $(this).modal('show');
  });

}  

</script>
{% endblock extrajs %}