{% extends 'index.html' %}
{% load static %}
{% block titulo %}
{% endblock titulo %}
{% block body %}

<link rel="stylesheet" href="{% static 'css/tablastyle.css' %}">
<div style="text-align:center;">

    <button class="btn" type="button" id="buttons1" onclick="abrirmodal_crear('{% url 'usuario:crear_usuario' %}')">Crear usuario</button>
</div>

{% if object_list %}

<div id="divtamano">
<table class="table table-sm" id="tabla">
    <thead id="tamamo">
        <tr>
            <th id="tamamo">ID</th>
            <th id="tamamo">Username</th>
            <th id="tamamo">Nombres</th>
            <th id="tamamo">Apellidos</th>
            <th id="tamamo">DNI</th>
            <th id="tamamo">Email</th>
            <th id="tamamo">Salario</th>
            <th id="tamamo">Administrador</th>
            <th id="tamamo">Opciones</th>

            
        </tr>
    </thead>
    <tbody id="tamimo">
        {% for usuario in object_list %}
        <tr>
            <td id="tamimo">{{usuario.id}}</td>
            <td id="tamimo">{{usuario.username}}</td>
            <td id="tamimo">{{usuario.nombres}}</td>
            <td id="tamimo">{{usuario.apellidos}}</td>
            <td id="tamimo">{{usuario.dni}}</td>
            <td id="tamimo">{{usuario.email}}</td>
            <td id="tamimo">{{usuario.salario}}</td>
            <td id="tamimo">{{usuario.admin}}</td>

            <td id="buttons">
                
                 <button id="buttons1" onclick="abrirmodal('{% url 'usuario:editar_usuario' usuario.id %}')">Editar</button>
                 <button id="buttons1" onclick="abrirmodal_eliminar('{% url 'usuario:eliminar_usuario' usuario.id %}')">Eliminar</button>
                
                
            </td>
            
        </tr>
         

        {% endfor %}
    </tbody>
</table>
</div>
<div class="modal fade" id="creacion" role="dialog">

</div>
<div class="modal fade" id="edicion" role="dialog">

</div>
<div class="modal fade" id="eliminacion" role="dialog">

</div>




{% endif %}

{% endblock body %}
{% block extrajs %}  

<script type="text/javascript">
function abrirmodal(url){
  $('#edicion').load(url,function(){
    $(this).modal('show');
  });
 
  }

function abrirmodal_crear(url){
  $('#creacion').load(url,function(){
    $(this).modal('show');
  });
 
  } 
  
function abrirmodal_eliminar(url){
    $('#eliminacion').load(url,function(){
    $(this).modal('show');
  });

}  

</script>
{% endblock extrajs %}