{% extends 'index.html' %}
{% load static %}
{% block head %}

{% endblock %}  
{% block body %}



<style>
    .label{
   
  color: #1c1c1a;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;

    }
</style>                   

<form method="POST">
<div class="card-body">
    <div class="row">
        <div class="col-lg-8">
<div class="card card-secondary">
    <div class="card-header bg-warning">
        <h3 class="h6 card-title text-white">Detalles</h3>
    </div>
    <hr>
    <div class="card-body">
        <input type="hidden" name="action" value="{{ action }}">
        <table class="table table-striped table-bordered" id="tblProducts" style="width:100%">
            <thead>
          
              <tr>
         <th>
            Eliminar
         </th>
         <th>Producto</th>
         <th>Categoria</th>
         <th>PVP</th>
         <th>Cantidad</th>
         <th>subtotal</th>
              </tr>
            </thead>
            <tbody>
         
            </tbody>
          </table>
    </div>

</div>
        </div>
        <div class="col-lg-4">
            <div class="card card-secondary">
                <div class="card-header bg-warning">
                    <h3 class="h6 card-title text-white">Factura</h3>
                </div>
                <div class="card-body">              
                        <form method="POST" action="." enctype="multipart/form-data">
                        <div class="form-group ">
                          
                              
                            <input type="text" class="form-control" name="search"
                            placeholder="Ingrese una descripción de producto" autocomplete="off">  
                            <hr> 
                            <button type="button" class="btn btn-danger btn-sm btnRemoveAll">
                               <i class="fas fa-trash"></i> Eliminar</button>
                               <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-save"></i>Guardar registro</button>
                               
                
            </form>
        </form>
   
            
       

        </div>
                <div class="form-group">
                    <label class="h6">Fecha de venta:</label>
                    <input type="text" class="form-control" readonly name="date_joined">
                </div>  
                <div class="form-group">
                    <label class="h6">Cliente:</label>
                    <input type="text" class="form-control" name="cli"
                    placeholder="Ingrese el nombre del cliente" autocomplete="off"> 

                </div>
                <div class="form-group">
                    <label class="h6">Subtotal:</label>
                    <input type="text" class="form-control" readonly name="subtotal">
                </div>
                <div class="form-group">
                    <label class="h6">IVA:</label>
                    <input type="text" class="form-control" readonly name="iva" value="0.18">
               
                </div>
               
                
                <div class="form-group">
                    <label class="h6">IVA Calculado:</label>
                    <input type="text" class="form-control" readonly name="ivacalc" value="0.00">
                </div>
                <div class="form-group">
                    <label class="h6">Total a pagar:</label>
                    <input type="text" class="form-control" readonly name="total" value="0.00">               
                </div>
    
        </div>
    </div>
</div>
</div></div>


 

    <button type="menu"class="button-totals" onclick="abrirmodal('{% url 'usuario:listar_sale' %}')">Inprimir</button>



<div class="modal fade" id="edicion" role="dialog">

</div>
<!--
<link rel="stylesheet" href="{% static 'css/indexVendedor.css' %} "> 
<div class="contenedor">
    <div class="contenedor-conciertos">
        <div class="card">

       


    Ingresar los botónes 
 <div  class="card-body">
    <div class="row">
        <div class="col-lg-8"></div>
        <table class="table table-bordered" id="data">
            <thead>
              <tr>
         <th>
            Eliminar
         </th>
         <th>Producto</th>
         <th>Categoria</th>
         <th>PVP</th>
         <th>Cantidad</th>
         <th>subtotal</th>
              </tr>
            </thead>
            <tbody>
         
            </tbody>
          </table>
    </div>
</div>    




            
        </div>
        <div class="card" >

            <div class="form-group">

                <label class="text-dark">Buscar productos:</label>
                
           
                        <div class="input-group">
                   
                            <form method="POST" action="." enctype="multipart/form-data">
                            <div class="form-group">
                                
                                {{ form.search }}
                            </div>
                          
    
          </form>
            
                  
                </div>
    
                </div>
                



    Insertar diferentes cuadrados que contendrán las categorías que se tengan en la base de datos
 
    <div class="textos"> </div>
    
<footer>
   
          <div class="contenedor1">
            <div class="contenedor-conciertos1">
                {% for categoria in categorias %}
        <div class="card1">

            <img src="{% static 'img/840020.png' %}" alt="My image">


            
            <footer><button class="button-totals" >{{categoria.nombrecategoria}}</button></footer>
        </div>
        {% endfor %}

    
        <div class="card1">
            <img src="{% static 'img/840020.png' %}" alt="My image">
  
            <footer><div class="button-totals">Bienvenido</div></footer>
        </div>
        <div class="card1">
            <img src="{% static 'img/840020.png' %}" alt="My image">
   
            <footer><div class="button-totals">Bienvenido</div></footer>
        </div>
        <div class="card1">
            <img src="{% static 'img/840020.png' %}" alt="My image">
    
            <footer><button class="button-totals" onclick="abrirmodal('{% url 'usuario:listar_usuario_vendedor' %}')">Bienvenido</button></footer>
        </div>
        <div class="card1">
            <img src="{% static 'img/840020.png' %}" alt="My image">
      
            <footer><div class="button-totals">Bienvenido</div></footer>
        </div>
        <div class="card1">
            <img src="{% static 'img/840020.png' %}" alt="My image">
            <footer><div class="button-totals">Bienvenido</div></footer>
        </div>
    </div>



    </div>
</footer>
    
</div>



  
        </div>




    </div>

    
</div>





<section id="vendedor">
    <div id="venta">
        <div id="scroll">
        <table id="table_venta">
            <tr>
                <th>Item</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
            </tr>
            <tr>
                <td>asdasd</td>
                <td>asdasd</td>
                <td>sadasda</td>
                <td>sdasdasd</td>
            </tr>
        </table>
        </div>
        <div id="datos_pago">
            <div id="botones">
                <button>Devolución</button>
                <button>Imprimir</button>
                <button>Limpiar Orden</button>
            </div>
            <div id="precio">

                <p>{{productos}}</p>
                <p>Subtotal     $17.50</p>
                <p>Descuento     $2.90</p>
                <p>Impuestos     $1.50</p>
                <p>TOTAL    <strong>$17.50</strong></p>
                <button>Confirmar Compra</button>
            </div>
        </div>
    </div>
    <div >
            <div class="form-group">

            <label >Buscar productos:</label>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-append">
                    <button type="button" class="btn btn-info btn-flat">Refresh</button>
                </span>
            </div>

            </div>


        <div id="categorias">
            <div class="categoria">
                <div class="imagen_categoria">
                    <img src="" alt="">
                </div>
                <div class="nombre_categoria">
                    <p>Categoría</p>
                    <button id="buttons1" onclick="abrirmodal('{% url 'usuario:listar_usuario_vendedor' %}')">Categoría</button>
                </div>
            </div>

            <div class="categoria">
                <div class="imagen_categoria">
                    <img src="" alt="">
                </div>
                <div class="nombre_categoria">
                    <p>Categoría</p>
                </div>
            </div>

            <div class="categoria">
                <div class="imagen_categoria">
                    <img src="" alt="">
                </div>
                <div class="nombre_categoria">
                    <p>Categoría</p>
                </div>
            </div>

            <div class="categoria">
                <div class="imagen_categoria">
                    <img src="" alt="">
                </div>
                <div class="nombre_categoria">
                    <p>Categoría</p>
                </div>
            </div>

            <div class="categoria">
                <div class="imagen_categoria">
                    <img src="" alt="">
                </div>
                <div class="nombre_categoria">
                    <p>Categoría</p>
                </div>
            </div>
            
            <div class="categoria">
                <div class="imagen_categoria">
                    <img src="" alt="">
                </div>
                <div class="nombre_categoria">
                    <p>Categoría</p>
                </div>
            </div>
        </div>

    </div>
</section> 
<div class="modal fullscreen-modal fade" id="edicion" role="dialog">

</div>

--->



{% endblock body %}

{% block extrajs %}  
<script type="text/javascript">
function abrirmodal(url){
  $('#edicion').load(url,function(){
    $(this).modal('show');
  });
 
  }
  $( function() {

$('select[name="search"]').select2({
            theme: "bootstrap4",
            language: 'es',
            allowClear: true,
            ajax: {
                delay: 250,
                type: 'POST',
                url: window.location.pathname,
                data: function (params) {
                    var queryParameters = {
                        term: params.term,
                        action: 'autocomplete'
                    }
                    return queryParameters;
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
            },
            placeholder: 'Ingrese una descripción',
            minimumInputLength: 1,
        });
    
} 



);
$('input[name="search"]').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {
                    'action': 'search_products',
                    'term': request.term
                },
                dataType: 'json',
            }).done(function (data) {
                response(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                //alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        },
        delay: 500,
        minLength: 1,
        select: function (event, ui) {
            console.log(ui.item);
            vents.item.products.push(ui.item)
            console.log(ui.item)
        
        }
    });
    $('input[name="searchdata"]').autocomplete({
        source: function (request, response) {
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {
                    'action': 'search_data',
                    'term': request.term
                },
                dataType: 'json',
            }).done(function (data) {
                response(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                //alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {

            });
        },
        delay: 500,
        minLength: 1,
        select: function (event, ui) {
            event.preventDefault();
            console.clear();
            ui.item.cant = 1;
            ui.item.subtotal = 0.00;
            console.log(vents.items);
            vents.add(ui.item);
            $(this).val('');
        }
    });

</script>
{% endblock extrajs %}




